/* ------ The footprint CSS ------ */

.value {
    font-family: "Noto Sans";
    font-weight: 700;
}
.value.large {
    font-size: 60px;
}
.value.medium {
    font-size: 30px;
}
.value.small {
    font-size: 15px;
}


html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;

    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;

}
.content {
    flex: 1 0 auto;
}

/*
body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
}
*/
.frame {
    margin: auto;
    width: 96%;
}

.headerTitle {
    margin: 0;
    margin-top: 1.5em;
}

.headerSubtitle {
    margin: 0;
}

h1 {
    text-align: center;
}

h4 {
    margin: 0;
    text-align: center;
    font-weight: lighter;
}

hr {
    color: black;
    font-weight: bolder;
}

.footer {
    flex-shrink: 0;
    margin-top: 0em;
    margin-bottom: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 11px;
}

.footerArea {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: SteelBlue;;
}
a:link {
    color: SteelBlue;
}
a:visited {
    color: SteelBlue;
}
a:hover {
    color: SteelBlue;
    text-decoration: underline;
}
a:active {
    color: SteelBlue;
}

.footerBtn {
    padding: 0;
    border: none;
    background: none;
    color: SteelBlue;
}
.footerBtn:hover {
    color: SteelBlue;
    text-decoration: underline;
}
.footerBtn:active {
    border: none;
}
.footerBtn:visited {
    border: none;
}
.footerBtn:focus {
    outline: none;
    box-shadow: none;
}

/* ------ Controls ------ */

.controls {
    margin-top: 2em;
    margin-bottom: 2.4em;
    text-align: center;
    font-size: smaller;
}

.controls span {
    margin: 1em;
}

.controls input[type="radio"] {
    margin-top: 1px!important;
    margin-left: 5px;
    width: 10px;
    height: 10px;
}

/* ------- Charts ------ */

.title {
    font-family: "Noto Sans";
    font-weight: 500;
}
.title.large {
    font-size: 24px;
}
.title.medium {
    font-size: 16px;
}
.title.small {
    font-size: 10px;
}

.subtitle {
    font-family: "Noto Sans";
    font-weight: normal;
}
.subtitle.large {
    margin-top: 12px;
    font-size: 12px;
}
.subtitle.medium {
    font-size: 8px;
}
.subtitle.small {
    font-size: 6px;
}

.xAxis line {
    stroke: silver;
    stroke-width: 0.3
}
.xAxis path {
    stroke: silver;
    stroke-width: 0.3
}
.xAxis.large text {
    fill: silver;
    font-size: 12px;
}
.xAxis.medium text {
    fill: silver;
    font-size: 8px;
}
.xAxis.small text {
    fill: silver;
    font-size: 6px;
}

.yAxis line {
    stroke: silver;
    stroke-width: 0.3
}
.yAxis path {
    stroke: silver;
    stroke-width: 0.3
}
.yAxis.large text {
    fill: silver;
    font-size: 12px;
}
.yAxis.medium text {
    fill: silver;
    font-size: 8px;
}
.yAxis.small text {
    fill: silver;
    font-size: 6px;
}
